.DS_Store
.dart_tool/

.packages
.pub/

build/
example/android/app/src/main/res/raw/awsconfiguration.json
example/android/amplify/team-provider-info.json
ios/amplify/team-provider-info.json

**/.idea
**/*/awsconfiguration.json