<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="nl.qwic.plugins.flutter_amazon_freertos_plugin">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- initiate device discovery and manipulate bluetooth settings -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- allow scan BLE -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- AWS Mobile SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <receiver android:name=".FlutterAmazonFreeRTOSPlugin$MyReceiver" >
            <intent-filter>
                <action android:name="com.example.Broadcast" >
                </action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
